@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: #08090a;
}

.dark body {
  background-color: #08090a; /* Change to your desired dark background */
  color: white;
}
